.direct-message-content{
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 96%;
  width: 1490px;
}
.chat-window {
  flex: 1;
  padding: 10px 0;
  }